@model MyApp.Models.Users
@{
    ViewData["Title"] = "Retrieve All Users";

    List<Users> users = TempData["users"] as List<Users>;
}


<h1>Retrieve All Users</h1>

<div class="container">
    @if (users != null && users.Count >= 1)
    {
        {
            <form action="/Home/SearchUser" method="post">
                <div class="form-group">
                    <label>Search</label>
                    <input type="text" name="searchTerm" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        }

        <table class="table table-dark">
            <thread>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">PhoneNumber</th>
                    <th scope="col">Email</th>
                    <th scope="col">Age</th>
                </tr>
            </thread>
            <tbody>
                @foreach (var user in users)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.Email</td>
                        <td>@user.Age</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

